## 외부 데이터 가져오기

In [4]:
df_csv <- read.csv('r-ggagi-data/example_studentlist.csv',header=T)

In [8]:
df_csv

   name   sex  age grade absence bloodtype height weight
1  김길동 남자 23  3     유      O         165.3  68.2
2  이미린 여자 22  2     무      AB        170.1  53.0
3  홍길동 남자 24  4     무      B         175.0  80.1
4  김철수 남자 23  3     무      AB        182.1  85.7
5  손세수 여자 20  1     유      A         168.0  49.5
6  박미희 여자 21  2     무      O         162.0  52.0
7  강수친 여자 22  1     무      O         155.2  45.3
8  이희수 여자 23  1     무      A         176.9  55.0
9  이철린 남자 23  3     무      B         178.5  64.2
10 방희철 남자 22  2     무      B         176.1  61.3
11 박수호 남자 24  4     유      O         167.1  62.0
12 임동민 남자 22  2     무      AB        180.0  75.8
13 김민수 남자 21  1     무      A         162.2  55.3
14 이희진 여자 23  3     무      O         176.1  53.1
15 김미진 여자 22  2     무      B         158.2  45.2
16 김동수 남자 24  4     유      B         168.6  70.2
17 여수근 남자 21  1     무      A         169.2  62.2

In [6]:
is.vector(df_csv$height)

[1] TRUE

In [7]:
str(df_csv)

'data.frame':	17 obs. of  8 variables:
 $ name     : Factor w/ 17 levels "강수친","김길동",..: 2 12 17 6 10 7 1 14 13 9 ...
 $ sex      : Factor w/ 2 levels "남자","여자": 1 2 1 1 2 2 2 2 1 1 ...
 $ age      : int  23 22 24 23 20 21 22 23 23 22 ...
 $ grade    : int  3 2 4 3 1 2 1 1 3 2 ...
 $ absence  : Factor w/ 2 levels "무","유": 2 1 1 1 2 1 1 1 1 1 ...
 $ bloodtype: Factor w/ 4 levels "A","AB","B","O": 4 2 3 2 1 4 4 1 3 3 ...
 $ height   : num  165 170 175 182 168 ...
 $ weight   : num  68.2 53 80.1 85.7 49.5 52 45.3 55 64.2 61.3 ...

In [9]:
df_csv$weight

 [1] 68.2 53.0 80.1 85.7 49.5 52.0 45.3 55.0 64.2 61.3 62.0 75.8 55.3 53.1 45.2
[16] 70.2 62.2

In [11]:
# R의 인덱스는 1부터 시작
# 이름없이 첫번째줄 인덱스로 가져올 수 있음
df_csv[1]

   name
1  김길동
2  이미린
3  홍길동
4  김철수
5  손세수
6  박미희
7  강수친
8  이희수
9  이철린
10 방희철
11 박수호
12 임동민
13 김민수
14 이희진
15 김미진
16 김동수
17 여수근

In [13]:
#데이터만 필요하다면 이중괄호   (df_csv$height와 같음)
df_csv[[7]]

 [1] 165.3 170.1 175.0 182.1 168.0 162.0 155.2 176.9 178.5 176.1 167.1 180.0
[13] 162.2 176.1 158.2 168.6 169.2

In [14]:
is(df_csv$height)
is(df_csv[[7]])
is(df_csv[7])

[1] "numeric" "vector"

[1] "numeric" "vector"

[1] "data.frame" "list"       "oldClass"   "vector"     "listOrNULL"

In [20]:
#여러개의 변수 선택하기
df_csv[c(7,8)]  
# df_csv[c('height','weight')]

   height weight
1  165.3  68.2
2  170.1  53.0
3  175.0  80.1
4  182.1  85.7
5  168.0  49.5
6  162.0  52.0
7  155.2  45.3
8  176.9  55.0
9  178.5  64.2
10 176.1  61.3
11 167.1  62.0
12 180.0  75.8
13 162.2  55.3
14 176.1  53.1
15 158.2  45.2
16 168.6  70.2
17 169.2  62.2

In [19]:
#7번째 열(키) 다가져오기
df_csv[,7]

 [1] 165.3 170.1 175.0 182.1 168.0 162.0 155.2 176.9 178.5 176.1 167.1 180.0
[13] 162.2 176.1 158.2 168.6 169.2

In [26]:
#2번재 행(이미린) 다가져오기
df_raw2=df_csv[2,]
df_raw2

  name   sex  age grade absence bloodtype height weight
2 이미린 여자 22  2     무      AB        170.1  53

In [27]:
df_raw2[1]
df_raw2['name']

  name
2 이미린

  name
2 이미린

In [29]:
df_csv2 <- read.csv('r-ggagi-data/example_studentlist.csv', stringsAsFactors = F)

In [30]:
str(df_csv)

'data.frame':	17 obs. of  8 variables:
 $ name     : Factor w/ 17 levels "강수친","김길동",..: 2 12 17 6 10 7 1 14 13 9 ...
 $ sex      : Factor w/ 2 levels "남자","여자": 1 2 1 1 2 2 2 2 1 1 ...
 $ age      : int  23 22 24 23 20 21 22 23 23 22 ...
 $ grade    : int  3 2 4 3 1 2 1 1 3 2 ...
 $ absence  : Factor w/ 2 levels "무","유": 2 1 1 1 2 1 1 1 1 1 ...
 $ bloodtype: Factor w/ 4 levels "A","AB","B","O": 4 2 3 2 1 4 4 1 3 3 ...
 $ height   : num  165 170 175 182 168 ...
 $ weight   : num  68.2 53 80.1 85.7 49.5 52 45.3 55 64.2 61.3 ...

In [31]:
search()

 [1] ".GlobalEnv"        "jupyter:irkernel"  "package:stats"
 [4] "package:graphics"  "package:grDevices" "package:utils"
 [7] "package:datasets"  "package:methods"   "Autoloads"
[10] "package:base"

In [32]:
# 검색 목록에 추가
attach(df_csv)

In [33]:
search()

 [1] ".GlobalEnv"        "df_csv"            "jupyter:irkernel"
 [4] "package:stats"     "package:graphics"  "package:grDevices"
 [7] "package:utils"     "package:datasets"  "package:methods"
[10] "Autoloads"         "package:base"

In [34]:
height

 [1] 165.3 170.1 175.0 182.1 168.0 162.0 155.2 176.9 178.5 176.1 167.1 180.0
[13] 162.2 176.1 158.2 168.6 169.2

In [37]:
# 검색 목록 삭제
detach(df_csv)

In [39]:
# 조건으로 변수선택 
#키가 170보다 큰 관측치
subset(df_csv, subset =(height>170))

   name   sex  age grade absence bloodtype height weight
2  이미린 여자 22  2     무      AB        170.1  53.0
3  홍길동 남자 24  4     무      B         175.0  80.1
4  김철수 남자 23  3     무      AB        182.1  85.7
8  이희수 여자 23  1     무      A         176.9  55.0
9  이철린 남자 23  3     무      B         178.5  64.2
10 방희철 남자 22  2     무      B         176.1  61.3
12 임동민 남자 22  2     무      AB        180.0  75.8
14 이희진 여자 23  3     무      O         176.1  53.1

In [40]:
#특정변수(height) 빼고 보기
subset(df_csv, select = -height)

   name   sex  age grade absence bloodtype weight
1  김길동 남자 23  3     유      O         68.2
2  이미린 여자 22  2     무      AB        53.0
3  홍길동 남자 24  4     무      B         80.1
4  김철수 남자 23  3     무      AB        85.7
5  손세수 여자 20  1     유      A         49.5
6  박미희 여자 21  2     무      O         52.0
7  강수친 여자 22  1     무      O         45.3
8  이희수 여자 23  1     무      A         55.0
9  이철린 남자 23  3     무      B         64.2
10 방희철 남자 22  2     무      B         61.3
11 박수호 남자 24  4     유      O         62.0
12 임동민 남자 22  2     무      AB        75.8
13 김민수 남자 21  1     무      A         55.3
14 이희진 여자 23  3     무      O         53.1
15 김미진 여자 22  2     무      B         45.2
16 김동수 남자 24  4     유      B         70.2
17 여수근 남자 21  1     무      A         62.2

In [41]:
#height, weight 두개빼기
subset(df_csv, select = c(-height,-weight))

   name   sex  age grade absence bloodtype
1  김길동 남자 23  3     유      O
2  이미린 여자 22  2     무      AB
3  홍길동 남자 24  4     무      B
4  김철수 남자 23  3     무      AB
5  손세수 여자 20  1     유      A
6  박미희 여자 21  2     무      O
7  강수친 여자 22  1     무      O
8  이희수 여자 23  1     무      A
9  이철린 남자 23  3     무      B
10 방희철 남자 22  2     무      B
11 박수호 남자 24  4     유      O
12 임동민 남자 22  2     무      AB
13 김민수 남자 21  1     무      A
14 이희진 여자 23  3     무      O
15 김미진 여자 22  2     무      B
16 김동수 남자 24  4     유      B
17 여수근 남자 21  1     무      A

In [42]:
#변수명 확인
colnames(df_csv)

[1] "name"      "sex"       "age"       "grade"     "absence"   "bloodtype"
[7] "height"    "weight"

In [43]:
#이름바꾸기
colnames(df_csv)[6]  <- 'blood'
df_csv

   name   sex  age grade absence blood height weight
1  김길동 남자 23  3     유      O     165.3  68.2
2  이미린 여자 22  2     무      AB    170.1  53.0
3  홍길동 남자 24  4     무      B     175.0  80.1
4  김철수 남자 23  3     무      AB    182.1  85.7
5  손세수 여자 20  1     유      A     168.0  49.5
6  박미희 여자 21  2     무      O     162.0  52.0
7  강수친 여자 22  1     무      O     155.2  45.3
8  이희수 여자 23  1     무      A     176.9  55.0
9  이철린 남자 23  3     무      B     178.5  64.2
10 방희철 남자 22  2     무      B     176.1  61.3
11 박수호 남자 24  4     유      O     167.1  62.0
12 임동민 남자 22  2     무      AB    180.0  75.8
13 김민수 남자 21  1     무      A     162.2  55.3
14 이희진 여자 23  3     무      O     176.1  53.1
15 김미진 여자 22  2     무      B     158.2  45.2
16 김동수 남자 24  4     유      B     168.6  70.2
17 여수근 남자 21  1     무      A     169.2  62.2

In [45]:
#모든 변수명 바꾸기
old_list <- colnames(df_csv)
new_list <- c('na','se','ag','gr','ab','bl','he','we') 
colnames(df_csv)  <-  new_list
head(df_csv)

  na     se   ag gr ab bl he    we
1 김길동 남자 23 3  유 O  165.3 68.2
2 이미린 여자 22 2  무 AB 170.1 53.0
3 홍길동 남자 24 4  무 B  175.0 80.1
4 김철수 남자 23 3  무 AB 182.1 85.7
5 손세수 여자 20 1  유 A  168.0 49.5
6 박미희 여자 21 2  무 O  162.0 52.0

In [46]:
colnames(df_csv)  <-old_list
head(df_csv,2)

  name   sex  age grade absence blood height weight
1 김길동 남자 23  3     유      O     165.3  68.2
2 이미린 여자 22  2     무      AB    170.1  53.0

In [48]:
bmi  <-  df_csv$weight / df_csv$height^2
bmi

 [1] 0.002495966 0.001831754 0.002615510 0.002584407 0.001753827 0.001981405
 [7] 0.001880679 0.001757547 0.002014924 0.001976705 0.002220439 0.002339506
[13] 0.002101955 0.001712284 0.001806032 0.002469574 0.002172649

In [50]:
#컬럼 연결
df_bmi <- cbind(df_csv,bmi)
head(df_bmi,3)

  name   sex  age grade absence blood height weight bmi
1 김길동 남자 23  3     유      O     165.3  68.2   0.002495966
2 이미린 여자 22  2     무      AB    170.1  53.0   0.001831754
3 홍길동 남자 24  4     무      B     175.0  80.1   0.002615510

In [51]:
df_1 <- df_csv
df_2  <- read.csv('r-ggagi-data/omit.csv')

In [52]:
head(df_2,3)

  name   footsize
1 강수친 245
2 김길동 270
3 김동수 265

In [54]:
# 이름에 맞춰서 넣어!
df_merge<-merge(df_1,df_2,by='name') 
df_merge

   name   sex  age grade absence blood height weight footsize
1  강수친 여자 22  1     무      O     155.2  45.3   245
2  김길동 남자 23  3     유      O     165.3  68.2   270
3  김동수 남자 24  4     유      B     168.6  70.2   265
4  김미진 여자 22  2     무      B     158.2  45.2   235
5  김민수 남자 21  1     무      A     162.2  55.3   270
6  김철수 남자 23  3     무      AB    182.1  85.7   280
7  박미희 여자 21  2     무      O     162.0  52.0   240
8  박수호 남자 24  4     유      O     167.1  62.0    NA
9  방희철 남자 22  2     무      B     176.1  61.3   275
10 손세수 여자 20  1     유      A     168.0  49.5   240
11 여수근 남자 21  1     무      A     169.2  62.2   265
12 이미린 여자 22  2     무      AB    170.1  53.0   245
13 이철린 남자 23  3     무      B     178.5  64.2    NA
14 이희수 여자 23  1     무      A     176.9  55.0   245
15 이희진 여자 23  3     무      O     176.1  53.1   245
16 임동민 남자 22  2     무      AB    180.0  75.8   280
17 홍길동 남자 24  4     무      B     175.0  80.1   275

In [55]:
df_head <- head(df_merge)
df_tail <- tail(df_merge)
df_head
df_tail

  name   sex  age grade absence blood height weight footsize
1 강수친 여자 22  1     무      O     155.2  45.3   245
2 김길동 남자 23  3     유      O     165.3  68.2   270
3 김동수 남자 24  4     유      B     168.6  70.2   265
4 김미진 여자 22  2     무      B     158.2  45.2   235
5 김민수 남자 21  1     무      A     162.2  55.3   270
6 김철수 남자 23  3     무      AB    182.1  85.7   280

   name   sex  age grade absence blood height weight footsize
12 이미린 여자 22  2     무      AB    170.1  53.0   245
13 이철린 남자 23  3     무      B     178.5  64.2    NA
14 이희수 여자 23  1     무      A     176.9  55.0   245
15 이희진 여자 23  3     무      O     176.1  53.1   245
16 임동민 남자 22  2     무      AB    180.0  75.8   280
17 홍길동 남자 24  4     무      B     175.0  80.1   275

In [57]:
df_rbind <- rbind(df_head,df_tail)
df_rbind

   name   sex  age grade absence blood height weight footsize
1  강수친 여자 22  1     무      O     155.2  45.3   245
2  김길동 남자 23  3     유      O     165.3  68.2   270
3  김동수 남자 24  4     유      B     168.6  70.2   265
4  김미진 여자 22  2     무      B     158.2  45.2   235
5  김민수 남자 21  1     무      A     162.2  55.3   270
6  김철수 남자 23  3     무      AB    182.1  85.7   280
12 이미린 여자 22  2     무      AB    170.1  53.0   245
13 이철린 남자 23  3     무      B     178.5  64.2    NA
14 이희수 여자 23  1     무      A     176.9  55.0   245
15 이희진 여자 23  3     무      O     176.1  53.1   245
16 임동민 남자 22  2     무      AB    180.0  75.8   280
17 홍길동 남자 24  4     무      B     175.0  80.1   275

In [59]:
#list
df <- df_merge
n <- c(1:20)
s <- c('a','b','c')
b <- c(T,F,T,T,F)
tmp_list <- list(df,n,s,b,mean)

In [60]:
tmp_list

[[1]]
     name  sex age grade absence blood height weight footsize
1  강수친 여자  22     1      무     O  155.2   45.3      245
2  김길동 남자  23     3      유     O  165.3   68.2      270
3  김동수 남자  24     4      유     B  168.6   70.2      265
4  김미진 여자  22     2      무     B  158.2   45.2      235
5  김민수 남자  21     1      무     A  162.2   55.3      270
6  김철수 남자  23     3      무    AB  182.1   85.7      280
7  박미희 여자  21     2      무     O  162.0   52.0      240
8  박수호 남자  24     4      유     O  167.1   62.0       NA
9  방희철 남자  22     2      무     B  176.1   61.3      275
10 손세수 여자  20     1      유     A  168.0   49.5      240
11 여수근 남자  21     1      무     A  169.2   62.2      265
12 이미린 여자  22     2      무    AB  170.1   53.0      245
13 이철린 남자  23     3      무     B  178.5   64.2       NA
14 이희수 여자  23     1      무     A  176.9   55.0      245
15 이희진 여자  23     3      무     O  176.1   53.1      245
16 임동민 남자  22     2      무    AB  180.0   75.8      280
17 홍길동 남자  24     4      무     B  175.0   80.1      275

[[2]]
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

[[3]]
[1] "a" "b" "c"

[[4]]
[1]  TRUE FALSE  TRUE  TRUE FALSE

[[5]]
function (x, ...)
UseMethod("mean")
<bytecode: 0x00000000267f5850>
<environment: namespace:base>

In [61]:
tmp_list2 <- list(DataFrame=df,Number=n,String=s,bool=b,Func=mean)
tmp_list2

$DataFrame
     name  sex age grade absence blood height weight footsize
1  강수친 여자  22     1      무     O  155.2   45.3      245
2  김길동 남자  23     3      유     O  165.3   68.2      270
3  김동수 남자  24     4      유     B  168.6   70.2      265
4  김미진 여자  22     2      무     B  158.2   45.2      235
5  김민수 남자  21     1      무     A  162.2   55.3      270
6  김철수 남자  23     3      무    AB  182.1   85.7      280
7  박미희 여자  21     2      무     O  162.0   52.0      240
8  박수호 남자  24     4      유     O  167.1   62.0       NA
9  방희철 남자  22     2      무     B  176.1   61.3      275
10 손세수 여자  20     1      유     A  168.0   49.5      240
11 여수근 남자  21     1      무     A  169.2   62.2      265
12 이미린 여자  22     2      무    AB  170.1   53.0      245
13 이철린 남자  23     3      무     B  178.5   64.2       NA
14 이희수 여자  23     1      무     A  176.9   55.0      245
15 이희진 여자  23     3      무     O  176.1   53.1      245
16 임동민 남자  22     2      무    AB  180.0   75.8      280
17 홍길동 남자  24     4      무     B  175.0   80.1      275

$Number
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

$String
[1] "a" "b" "c"

$bool
[1]  TRUE FALSE  TRUE  TRUE FALSE

$Func
function (x, ...)
UseMethod("mean")
<bytecode: 0x00000000267f5850>
<environment: namespace:base>

In [63]:
tmp_list2[2]

$Number
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [64]:
tmp_list2['Number']

$Number
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [66]:
tmp_list2[1] <- NULL

In [68]:
# 자료형 확인 
class(tmp_list[1])
class(tmp_list[[1]])

[1] "list"

[1] "data.frame"

In [69]:
tmp_list2[c(2,3)]

$String
[1] "a" "b" "c"

$bool
[1]  TRUE FALSE  TRUE  TRUE FALSE

In [70]:
tmp_list2[c('Number','String')]

$Number
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

$String
[1] "a" "b" "c"

In [71]:
#split() 성별(sex)에 따른 키(height)값
height_sex <- split(df$height,df$sex)
height_sex

$남자
 [1] 165.3 168.6 162.2 182.1 167.1 176.1 169.2 178.5 180.0 175.0

$여자
[1] 155.2 158.2 162.0 168.0 170.1 176.9 176.1

In [72]:
height_sex$남자

 [1] 165.3 168.6 162.2 182.1 167.1 176.1 169.2 178.5 180.0 175.0

### 평균

In [73]:
 mean(height_sex)
#없는 데이터를 0으로 할지 없다고할지 결정해줘야함

Warning message in mean.default(height_sex):
"argument is not numeric or logical: returning NA"

[1] NA

In [77]:
height_sex[1]
mean(height_sex[[1]])

$남자
 [1] 165.3 168.6 162.2 182.1 167.1 176.1 169.2 178.5 180.0 175.0

[1] 172.41

In [78]:
height_sex[2]
mean(height_sex[[2]])

$여자
[1] 155.2 158.2 162.0 168.0 170.1 176.9 176.1

[1] 166.6429

In [79]:
height_sex_mean <- sapply(height_sex, mean)
height_sex_mean

    남자     여자
172.4100 166.6429

### 표준편차

In [82]:
height_sex_sd <- sapply(height_sex, sd)
height_sex_sd

    남자     여자
6.804647 8.487414

In [84]:
# 리스트 범위 구하기
height_sex_range <- sapply(height_sex, range)
height_sex_range

     남자  여자
[1,] 162.2 155.2
[2,] 182.1 176.9

In [85]:
height_sex_range[1,] # 행
height_sex_range[,1] # 열

 남자  여자
162.2 155.2

[1] 162.2 182.1

In [88]:
# 빈도수 - table() 혈액형별 빈도수
blood_type_table <- table(df$blood)
blood_type_table

 A AB  B  O
 4  3  5  5

In [89]:
# 상대도수 - prop.table()
blood_type_prop_table <- prop.table(blood_type_table)
blood_type_prop_table

        A        AB         B         O
0.2352941 0.1764706 0.2941176 0.2941176

In [90]:
blood_type_rbind <- rbind(blood_type_table, blood_type_prop_table)
blood_type_rbind

                      A         AB        B         O
blood_type_table      4.0000000 3.0000000 5.0000000 5.0000000
blood_type_prop_table 0.2352941 0.1764706 0.2941176 0.2941176

In [92]:
# margin : 1 열, 2 행, 생략시 행열의 합
blood_type_rbind_sum <- addmargins(blood_type_rbind,margin=2)
blood_type_rbind_sum

                      A         AB        B         O         Sum
blood_type_table      4.0000000 3.0000000 5.0000000 5.0000000 17
blood_type_prop_table 0.2352941 0.1764706 0.2941176 0.2941176  1

In [96]:
#연속형 변수 - 구간(계급)
# 4구간으로 나누고 각각 어디 구간에 속해있는지 보여줌
height_break_4 <- cut(df$height,breaks=4)
height_break_4

 [1] (155,162] (162,169] (162,169] (155,162] (162,169] (175,182] (162,169]
 [8] (162,169] (175,182] (162,169] (169,175] (169,175] (175,182] (175,182]
[15] (175,182] (175,182] (169,175]
Levels: (155,162] (162,169] (169,175] (175,182]

In [97]:
#빈도수
height_break_4_table <- table(height_break_4)
height_break_4_table

height_break_4
(155,162] (162,169] (169,175] (175,182]
        2         6         3         6

In [98]:
#상대도수
height_break_4_prop_table <- prop.table(height_break_4_table)
height_break_4_prop_table

height_break_4
(155,162] (162,169] (169,175] (175,182]
0.1176471 0.3529412 0.1764706 0.3529412

In [99]:
height_break_4_rbind <- rbind(height_break_4_table, height_break_4_prop_table)
height_break_4_rbind

                          (155,162] (162,169] (169,175] (175,182]
height_break_4_table      2.0000000 6.0000000 3.0000000 6.0000000
height_break_4_prop_table 0.1176471 0.3529412 0.1764706 0.3529412

In [101]:
# 누적상대도수 - cumsum()
height_break_4_cumsum <- rbind(height_break_4_rbind,cumsum(height_break_4_rbind[2,]))
height_break_4_cumsum

                          (155,162] (162,169] (169,175] (175,182]
height_break_4_table      2.0000000 6.0000000 3.0000000 6.0000000
height_break_4_prop_table 0.1176471 0.3529412 0.1764706 0.3529412
                          0.1176471 0.4705882 0.6470588 1.0000000

In [102]:
rownames(height_break_4_cumsum) <- c('도수','상대도수','누적도수')
height_break_4_cumsum

         (155,162] (162,169] (169,175] (175,182]
도수     2.0000000 6.0000000 3.0000000 6.0000000
상대도수 0.1176471 0.3529412 0.1764706 0.3529412
누적도수 0.1176471 0.4705882 0.6470588 1.0000000

In [103]:
df_csv2 <- read.csv('r-ggagi-data/example_studentlist2.csv')

In [104]:
df_csv2

    sex  age grade absence bloodtype height weight
1   남자 20  2     무      O         157.1  52.3
2   여자 24  2     유      O         160.8  53.6
3   남자 28  2     무      O         160.5  53.4
4   남자 22  2     무      AB        159.0  52.2
5   여자 23  2     무      O         160.9  53.1
6   남자 25  2     유      A         161.5  50.1
7   남자 25  2     무      O         155.4  49.9
8   여자 28  4     유      O         153.0  53.4
9   남자 27  3     유      O         161.5  53.9
10  여자 21  2     유      O         160.3  53.1
11  여자 24  3     무      B         157.3  51.8
12  여자 23  2     무      A         161.7  54.1
13  남자 21  3     유      A         148.3  51.8
14  여자 28  1     유      O         166.6  52.0
15  남자 23  1     무      B         160.3  49.5
16  남자 23  2     무      O         166.4  49.9
17  여자 22  3     무      B         161.6  52.3
18  여자 26  2     무      AB        160.6  49.7
19  남자 28  3     무      A         165.9  52.6
20  남자 28  4     무      A         161.1  53.9
21  남자 26  4     무      O         149.7  50.2
22  여자 25  2     무      A         153.8  51.3
23  남자 25  2     무      O         152.3  52.9
24  남자 21  1     무      B         156.6  51.2
25  남자 25  2     무      O         156.5  51.7
26  여자 21  3     무      O         163.2  51.2
27  남자 21  3     유      O         151.5  52.6
28  여자 22  4     무      A         155.7  52.0
29  여자 28  4     유      O         162.3  54.2
30  남자 25  3     무      B         156.6  48.4
... ...  ... ...   ...     ...       ...    ...
71  남자 21  3     무      A         194.7  68.9
72  여자 22  2     유      AB        160.5  71.1
73  여자 26  2     유      B         179.1  78.5
74  남자 20  3     무      O         174.1  70.7
75  남자 22  2     유      A         161.6  74.2
76  남자 24  3     유      O         168.3  73.3
77  여자 21  2     유      O         174.6  75.4
78  여자 24  4     무      O         169.4  72.0
79  여자 28  3     무      A         194.4  71.7
80  여자 24  4     무      AB        176.6  68.4
81  여자 25  4     유      O         164.0  69.8
82  남자 25  3     유      O         179.1  73.6
83  남자 23  4     무      O         164.1  75.5
84  여자 21  3     무      O         177.9  66.2
85  여자 23  2     유      A         157.5  69.2
86  여자 26  4     유      AB        159.7  68.7
87  남자 25  1     무      B         169.5  68.1
88  여자 24  2     무      O         179.3  65.8
89  남자 26  3     유      O         153.8  63.1
90  남자 22  1     무      B         179.8  69.9
91  남자 26  2     유      A         174.8  74.0
92  여자 24  2     무      B         150.9  64.2
93  여자 22  2     유      A         165.7  68.5
94  남자 25  3     유      A         161.5  70.5
95  여자 24  1     유      A         155.4  67.1
96  여자 27  4     유      A         154.9  63.2
97  여자 27  1     무      O         156.7  73.6
98  남자 23  3     유      B         173.4  62.5
99  남자 25  3     유      O         167.7  74.6
100 여자 28  3     무      A         179.3  71.9

In [106]:
height_b4  <- cut(df_csv2$height, breaks=4)
height_b4

  [1] (148,160] (160,171] (160,171] (148,160] (160,171] (160,171] (148,160]
  [8] (148,160] (160,171] (160,171] (148,160] (160,171] (148,160] (160,171]
 [15] (160,171] (160,171] (160,171] (160,171] (160,171] (160,171] (148,160]
 [22] (148,160] (148,160] (148,160] (148,160] (160,171] (148,160] (148,160]
 [29] (160,171] (148,160] (160,171] (160,171] (160,171] (160,171] (148,160]
 [36] (160,171] (148,160] (160,171] (160,171] (148,160] (160,171] (148,160]
 [43] (160,171] (160,171] (148,160] (148,160] (160,171] (148,160] (148,160]
 [50] (160,171] (171,183] (160,171] (160,171] (160,171] (148,160] (160,171]
 [57] (183,195] (171,183] (160,171] (160,171] (160,171] (160,171] (148,160]
 [64] (160,171] (171,183] (171,183] (171,183] (160,171] (160,171] (183,195]
 [71] (183,195] (160,171] (171,183] (171,183] (160,171] (160,171] (171,183]
 [78] (160,171] (183,195] (171,183] (160,171] (171,183] (160,171] (171,183]
 [85] (148,160] (160,171] (160,171] (171,183] (148,160] (171,183] (171,183]
 [92] (148,160] (160,171] (160,171] (148,160] (148,160] (148,160] (171,183]
 [99] (160,171] (171,183]
Levels: (148,160] (160,171] (171,183] (183,195]

In [108]:
height_b4_table <- table(height_b4)
height_b4_table

height_b4
(148,160] (160,171] (171,183] (183,195]
       30        50        16         4

In [109]:
height_b4_prop_table <- prop.table(height_b4_table)
height_b4_prop_table

height_b4
(148,160] (160,171] (171,183] (183,195]
     0.30      0.50      0.16      0.04

In [110]:
height_b4_cumsum <- cumsum(height_b4_prop_table)
height_b4_cumsum

(148,160] (160,171] (171,183] (183,195]
     0.30      0.80      0.96      1.00

In [114]:
height_b4_rbind <- rbind(height_b4_table, height_b4_prop_table, height_b4_cumsum)
height_b4_rbind

                     (148,160] (160,171] (171,183] (183,195]
height_b4_table      30.0      50.0      16.00     4.00
height_b4_prop_table  0.3       0.5       0.16     0.04
height_b4_cumsum      0.3       0.8       0.96     1.00

In [115]:
rownames(height_b4_rbind) <- c('도수','상대도수','누적도수')
height_break_4_cumsum

         (155,162] (162,169] (169,175] (175,182]
도수     2.0000000 6.0000000 3.0000000 6.0000000
상대도수 0.1176471 0.3529412 0.1764706 0.3529412
누적도수 0.1176471 0.4705882 0.6470588 1.0000000

### 분할표 -2개변수의 빈도수

In [116]:
head(df_csv)

  name   sex  age grade absence blood height weight
1 김길동 남자 23  3     유      O     165.3  68.2
2 이미린 여자 22  2     무      AB    170.1  53.0
3 홍길동 남자 24  4     무      B     175.0  80.1
4 김철수 남자 23  3     무      AB    182.1  85.7
5 손세수 여자 20  1     유      A     168.0  49.5
6 박미희 여자 21  2     무      O     162.0  52.0

In [117]:
#table(행,열)
sex_blood_table <- table(df_csv$sex,df_csv$blood)
sex_blood_table

       A AB B O
  남자 2  2 4 2
  여자 2  1 1 3

In [122]:
addmargins(sex_blood_table,margin=2)

       A AB B O Sum
  남자 2 2  4 2 10
  여자 2 1  1 3  7

In [124]:
#전체에 대한 상대도수
sex_blood_prop_table <- prop.table(sex_blood_table)
sex_blood_prop_table

                A         AB          B          O
  남자 0.11764706 0.11764706 0.23529412 0.11764706
  여자 0.11764706 0.05882353 0.05882353 0.17647059

In [125]:
addmargins(sex_blood_prop_table)

       A         AB         B          O         Sum
  남자 0.1176471 0.11764706 0.23529412 0.1176471 0.5882353
  여자 0.1176471 0.05882353 0.05882353 0.1764706 0.4117647
  Sum  0.2352941 0.17647059 0.29411765 0.2941176 1.0000000

In [127]:
#남자 여자 별로의 상대도수
sex_blood_margin1 <- prop.table(sex_blood_table,margin=1)
sex_blood_margin1

               A        AB         B         O
  남자 0.2000000 0.2000000 0.4000000 0.2000000
  여자 0.2857143 0.1428571 0.1428571 0.4285714

In [128]:
#열별 상대도수 
sex_blood_margin2 <- prop.table(sex_blood_table,margin=2)
sex_blood_margin2

               A        AB         B         O
  남자 0.5000000 0.6666667 0.8000000 0.4000000
  여자 0.5000000 0.3333333 0.2000000 0.6000000

In [129]:
# NA- 값이 없는 경우 처리 방법
a <- c(1,2,3,4,NA,6,7,8,9,10)
complete.cases(a)

 [1]  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In [130]:
#False 값은 생략되고 나옴
a[complete.cases(a)]

[1]  1  2  3  4  6  7  8  9 10

In [131]:
# na값 빼버려! 
na.omit(a)

[1]  1  2  3  4  6  7  8  9 10
attr(,"na.action")
[1] 5
attr(,"class")
[1] "omit"