In [1]:
df <- read.csv("r-ggagi-data/example_salary.csv", stringsAsFactors = T, na = '-')

In [2]:
head(df)

  연령  월급여액..원. 연간특별급여액..원. 근로시간..시간. 근로자수..명.
1 -19   1346534       151840              169.5            15042
2 20-24 1584214       115375              180.1            74251
3 25-29 1922043       268058              178.0           143338
4 30-34 2130988       335710              180.8           103585
5 35-39 2414345       352816              181.4            65385
6 40-44 2372214       233728              182.9            55422
  경력구분 성별
1 1년미만  남
2 1년미만  남
3 1년미만  남
4 1년미만  남
5 1년미만  남
6 1년미만  남

In [4]:
colnames(df)
colnames(df) <- c('age','salary','specialSalary','workingTime','numberOfWorker','career','sex')

[1] "age"            "salary"         "specialSalary"  "workingTime"
[5] "numberOfWorker" "career"         "sex"

In [5]:
# 평균 월급 구하기
Mean <- mean(df$salary, na.rm = T)
Mean

[1] 2171578

In [6]:
# 아웃라이어 여향이 있는지 월 중앙값 계산
Median  <- median(df$salary, na.rm = T)
Median

[1] 2120345

In [7]:
# 범위 구하기
Range <- range(df$salary, na.rm = T)
Range

[1] 1117605 4064286

In [8]:
# 4분위 
Quantile <- quantile(df$salary, na.rm = T)
Quantile

     0%     25%     50%     75%    100%
1117605 1689658 2120345 2519221 4064286

In [9]:
# 리스트에 데이터 담기
Salary <- list(평균=Mean, 중앙값=Median, 범위=Range, 사분위=Quantile)
Salary

$평균
[1] 2171578

$중앙값
[1] 2120345

$범위
[1] 1117605 4064286

$사분위
     0%     25%     50%     75%    100%
1117605 1689658 2120345 2519221 4064286

In [10]:
# 가장 적은 월급
w <- which(df$salary == 1117605)
w

[1] 60

In [11]:
df[w,]

   age salary  specialSalary workingTime numberOfWorker career  sex
60 60- 1117605 10667         148         18737          1년미만 여

In [12]:
#경력별 평균월급
temp <- tapply(df$salary,df$career, mean, na.rm=T)
temp

 1~3년미만   10년이상    1년미만  3~5년미만 5~10년미만
   1905012    2907119    1730835    2028015    2360463

In [13]:
#표준편차
tapply(df$salary, df$career, sd, na.rm=T)

 1~3년미만   10년이상    1년미만  3~5년미만 5~10년미만
  421332.8   690976.7   408110.4   460790.9   507244.7

In [14]:
#범위
tapply(df$salary,df$career, range, na.rm=T)

$`1~3년미만`
[1] 1172399 2619221

$`10년이상`
[1] 1685204 4064286

$`1년미만`
[1] 1117605 2414345

$`3~5년미만`
[1] 1245540 2827420

$`5~10년미만`
[1] 1548036 3309231

In [15]:
#경력별 가장 월급이 작은 그룹
w <- which(df$salary=='1172399')
w
a1  <- df[w,]
a1

[1] 70

   age salary  specialSalary workingTime numberOfWorker career    sex
70 60- 1172399 299639        151.2       30253          1~3년미만 여

In [16]:
colnames(df)
colnames(df) <- c('age','salary','sepcialSalary','workingTime','numberOfWorker','career','sex')

[1] "age"            "salary"         "specialSalary"  "workingTime"
[5] "numberOfWorker" "career"         "sex"

In [17]:
#표준화
salary_scale <- scale(df$salary)

In [18]:
head(salary_scale)

     [,1]
[1,] -1.28886999
[2,] -0.91757018
[3,] -0.38981924
[4,] -0.06340878
[5,]  0.37924689
[6,]  0.31343053

In [19]:
df_scale <- cbind(df,scale=salary_scale)
head(df_scale)

  age   salary  sepcialSalary workingTime numberOfWorker career  sex
1 -19   1346534 151840        169.5        15042         1년미만 남
2 20-24 1584214 115375        180.1        74251         1년미만 남
3 25-29 1922043 268058        178.0       143338         1년미만 남
4 30-34 2130988 335710        180.8       103585         1년미만 남
5 35-39 2414345 352816        181.4        65385         1년미만 남
6 40-44 2372214 233728        182.9        55422         1년미만 남
  scale
1 -1.28886999
2 -0.91757018
3 -0.38981924
4 -0.06340878
5  0.37924689
6  0.31343053